{% extends 'base.html.twig' %}

{% block title %}Hello AdminPanelController!{% endblock %}

{% block content %}


<div class="example-wrapper">

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{  form_start(add_recipie_form) }}
        <input type="submit" value="Save Meal" class="form-control btn btn-success w-50 align-self-center" />
    {{  form_end(add_recipie_form) }}

</div>
{% endblock %}
