{% extends 'base.html.twig' %}

{% block title %}Edit Recipie{% endblock %}

{% block content %}

    <section>
        <h2>Edit meal</h2>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(edit_form) }}
        {{ form_end(edit_form) }}

    </section>
{% endblock %}
